<title>Go Fish - Create a Game</title>


<%# <%= button_to "Sign out", destroy_user_session_path, :class => "btn" %>

<center><%= image_tag("go_fish_welcome.png", :style => "width:50%; max-width:2000px; margin-top:10%;") %></center>

