<% content_for :javascript do %>
  <script>
    var progress = setInterval(function() {
      var $bar = $('.bar');
      
      if ($bar.width()>=390) {
          clearInterval(progress);
          $('.progress').removeClass('active');
          $('.progress').hide();
          $('#go-fish-image').show('slow');

      } else {
          $bar.width($bar.width()+90);
      }
        $bar.text(Math.round($bar.width()/4) + "%");
    }, 60);
  </script>
<% end %>

<title>Play Go Fish</title>
<%# <div class="progress progress-striped active" style="width:400px; margin:0 auto; margin-top:10%;"> %>
<%#   <div class="bar" style="width: 0px;"></div> %>
<%# </div> %>
<% content_for :window do %>
  <canvas id='goFish' style="width: 101%; height: 141%; margin-top: -20px; margin-left:-20px; position: fixed; z-index: 2;">
    <center><%= image_tag("go_fish_welcome.png", :style => "width:50%; max-width:2000px; margin-top:10%;") %></center>
  </canvas>
<% end %>

