<title>Go Fish - Create a Game</title>
<center><h1 style="font-size:50px; padding-top:200px;">Create Go Fish Game</h1>
<form name="input" action="player/new" method="post">
<b style="font-size: 15pt; padding-top: 35px; display: inline-block; margin-right: 5px; position: relative;">Name: </b><input style="height:25px; margin-top:8px;" type="text" maxLength="11" name="name" />
<input class="btn" type="submit" value="Start" />
</form></center>
