/* html { */
/*   min-height:700px; */
/* } */

body {
  background:url(../img/background.jpeg) repeat;
  background-size:600px;
}

a {
  color: rgb(51, 51, 51);
}

a:active,
a:hover {
  color: rgb(51, 51, 51);
}

#new-user {
  margin:0 auto;
  width:350px;
  margin-top:100px;
  padding:40px;
  background-color:rgba(0,0,0,0.2);
  border-radius: 10px;
}

form h4 {
  float:left;
  font-weight:normal;
  padding-top:2px;
  font-size: 11pt;
  display: inline-block;
  position: relative;
  color: rgb(51, 51, 51);
}

#board {
  background-color:rgba(0,0,0,0.2);
  border-radius: 10px;
  min-height:300px;
  width:400px;
  margin:0 auto;
  margin-top:50px;
  padding:25px;
}

#board-nav ul li a:hover {
  background-image:rgba(0,0,0,0.2);
}

#board-nav ul li.active a {
  background-image:rgba(0,0,0,0.2);
}

#player-left {
  margin-top:-225px;
  float:left;
  height:100px;
  width:250px;
  text-align:center;
}

#player-right {
  margin-top:275px;
  float:right;
  height:100px;
  width:250px;
  text-align:center;
}

#player-top {
  margin:0 auto;
  height:100px;
  width:250px;
  text-align:center;
}

#player-bottom {
  margin:0 auto;
  margin-top:50px;
  height:150px;
  width:550px;
  text-align:center;
}
